/* 
    color: #ee3e64;
    color: #fd5d93; salmon
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
 */
 
.footer{
    grid-area: footer;
    display: flex;
    height: 5vh;
    min-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
    .footer__text {
        margin:0;
        padding:0;
        border:0;
        outline:0;
    }
    .footer--bg-dark {
        background-color: #505050;
    }
 
    .footer__text--white {
        color: #fcfcfc;
    }
 
.v-sidebar {
    box-sizing: border-box;
    position: fixed;
    min-height: 100vh;
    padding: 1em 0;
    align-items: center;
    overflow: hidden;
}
.v-sidebar-right {
    background-color: #ffe819;
    width: 10px;
    right: 0;
}
.v-sidebar-left {
    display: flex;
    width: 35px;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
    .v-sidebar--dark {
        background-color: #505050;
    }

    .v-sidebar-left__list {
        writing-mode: vertical-rl;
        display: flex;
        text-transform: uppercase;
        font-size: 1em;
        width: 100%;
        align-items: center;
    }

    .v-sidebar__title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .brand-link-style {
        font-size: 2.9rem;
        font-weight: 500;
        color: #fcfcfc;
        color: #ffa719;
        color: #ee3e64;
        color: #ffe819;
    }
 
.vertical-li{
    display: inline;
    margin: 0.5em 0;
}

/* 
.dropdown {
    position: relative;
    display: inline;
}

    .dropdown__nav-links {
        writing-mode: horizontal-tb;  
        display: flex;
        position: absolute;
        background-color: #505050;
        padding: 0.5em;
        bottom: 0;
        left: -550px;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        transition: all 0.5s ease;
        z-index: -1;
    }
    
    .dropdown:hover .dropdown__nav-links {
        bottom: 0;
        left: 30px;
    }      
    
    .dropdown__nav-links > a{
        padding: 0 1em;
    } */

/* .nav-theme {
    font-family: "Staatliches", Verdana, Geneva, sans-serif;
    text-decoration: underline cyan;
    color: #fcfcfc;
    transition: font-size 0.5s ease;
}
.nav-theme:hover {
    color: #fcfcfc;
} */

.title-primary--size {
    font-size: calc(3em + 6vw);
}

.main-wrapper__social-n-skills {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

    .social-links {
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
        .social-links__link {
            padding: 0 0.5em;
        }

    .skills-list {
        display: block;
        columns: 2;
        list-style: none;
        padding: 0.5em 0;
    }
        .skills-list__item {
            padding: 0 1em;
            list-style: none;
        }

.main-wrapper__blog-wrap {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    margin: 5em 0;
    flex-flow: column nowrap;
}
    .main-wrapper__blog-wrap__article {
        max-width: 800px;
        margin: 0 0 4em 0;
    }

.li--margin-t {
    margin-top: 0.5em;
}
.li--dec-zero{
    list-style-type: decimal-leading-zero;
}
.sub-li{
    text-indent: 0.5em;
}
.sub-li::before{
    content: "- ";
}

.main-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 35px [left-gutter] auto [content] 80% [right-gutter] auto 10px;
    grid-template-rows: fit-content(30vh) auto minmax(min-content, 65vh) 5vh;
    row-gap: 2em;
    grid-template-areas:
        ". . title ."
        ". . contacts ."
        ". . main ."
        ". footer footer footer"
}
    .main-wrapper__title-wrapper {
        display: flex;
        grid-area: title;
        justify-content: center;
        align-items: center;
    }
    .main-wrapper--rborder-yellow {
        /* border-right: 30px solid #ffe819; */
        
    }

 

@media only screen and (min-width:600px){
    .skills-list {
        columns: 3;
    }
}
@media only screen and (min-width:800px){
    .skills-list {
        columns: 4;
    }
}
@media only screen and (min-width:950px){
    .skills-list {
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
}
/* @media only screen and (max-width:575px){
    .main-wrapper{
        grid-template-columns: 35px [left-gutter] auto [content] 80% [right-gutter] auto;
    }
} */
