@media only screen and (min-width:600px){
    .skills-list {
        columns: 3;
    }
}

@media only screen and (min-width:1200px){
    .skills-list {
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
}
