/*
Adapted by Alessandro Bisiani from the original:
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/* border: solid 1px #ee3e64; */
    /* #44accf sky blue*/
    /* #b7d84b */
    /* #ec008c hot pink*/
    /* #ffa719; Bright orange */
    /* #fc6767 Light orange */
    /* #12a7d light blue */
    /* #00e8b9 bright teal */
    /* #fcfcfc grey */
    /* #262626; dark grey /
    /* #505050; lighter dark grey */

    /*
    color: #ee3e64;
    color: #fd5d93; salmon
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
 */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:16px;
    vertical-align:baseline;
    background:transparent;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #fcfcfc;
    font-family: "Lora", "Courier New", Courier, monospace;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Staatliches", Verdana, Geneva, sans-serif;
    margin-bottom: 0.5em;
    color: #ee3e64;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 130%;
}
h4 {
    font-size: 120%;
    text-decoration: underline;
}
h5 {
    font-size: 110%;
    text-decoration: underline;
}
h6 {
    font-size: 100%;
    text-decoration: underline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: inherit;
    text-decoration: none;
    /* color: #ffa719;
    color: #ee3e64;
    color: #fd5d93;
    color: #44accf; */
    color: #ffe819;
    color: #ee3e64;
    border-bottom: #fd5d93;
}
a:hover{
    /* text-decoration: underline #fd5d93;
    text-decoration: underline #8e00cf; */
    background-color: #9000d346;
    /* color: #44accf;
    color: violet;
    color: #ee3e64;
    color: #fd5d93; */
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    /* border-bottom:1px dotted; */
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}


main{
    grid-area: main;
}

article{
    margin-bottom: 5em;
}

p {
    margin-top: 1em;
}

li{
    list-style: none inside;
    margin-bottom:0.1em;
}



.footer{
    grid-area: footer;
    display: flex;
    height: 5vh;
    min-height: 35px;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
    .footer__text {
        margin:0;
        padding:0;
        border:0;
        outline:0;
    }

    .footer__text--white {
        color: #fcfcfc;
    }

    .footer--bg-dark {
        background-color: #444444;
        background-color: rgba(68, 68, 68, 0.137);
    }

.title-primary {
    margin-bottom: 0rem;

}
.title-primary--size {
    font-size: calc(3em + 6vw);
}

.link-dark {
    color: #ee3e64;
    background-color: rgb(255, 255, 0, 0.4);
}

.v-sidebar {
    box-sizing: border-box;
    position: fixed;
    min-height: 100vh;
    padding: 1em 0;
    align-items: center;
    overflow: hidden;
}
.v-sidebar-right {
    background-color: #ffe819;
    background-color: #ee3e64c4;
    width: 10px;
    right: 0;
    display: none;
}
.v-sidebar-left {
    display: flex;
    width: 35px;
    flex-flow: column nowrap;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
}
    .v-sidebar--dark {
        background-color: #444444;
        background-color: rgba(68, 68, 68, 0.137);
    }

    .v-sidebar__title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .brand-link-style {
        font-size: 2.9rem;
        font-weight: 500;
        color: #fcfcfc;
        color: #ffa719;
        color: #ffe819;
        color: #fd5d93;
        color: #ee3e64;
    }

.nav-li{
    display: inline;
    writing-mode: vertical-rl;
    margin: 1em 0;
    font-size: 1.5em;
    color: #ee3e64;
}
.nav-li::before{
    /* content: "*"; */
    color: #ffe819;
    color: #ee3e64;
}

.nav-theme {
    font-family: "Staatliches", Verdana, Geneva, sans-serif;
}

.main-wrapper__social-n-skills {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

    .social-links {
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
        .social-links__link {
            padding: 0 0.5em;
        }

    .skills-list {
        display: block;
        columns: 2;
        list-style: none;
        padding: 0.5em 0;
    }
        .skills-list__item {
            padding: 0 1em;
            list-style: none;

            text-align: center;
        }
        .skills-list__item::before{
            content:"*";
        }

.main-wrapper__blog-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 5em 0;
    flex-flow: column nowrap;
}
    .main-wrapper__blog-wrap__article {
        max-width: 800px;
        margin: 0 0 4em 0;
    }
.post-title {
    text-align: center;
}

.li--margin-t {
    margin-top: 0.5em;
}
.li--dec-zero{
    list-style-type: decimal-leading-zero;
}
.sub-li{
    text-indent: 0.5em;
}
.sub-li::before{
    content: "~ ";
}

.main-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 35px [left-gutter] auto [content] 75% [right-gutter] auto;
    grid-template-rows: fit-content(30vh) auto minmax(min-content, 65vh) 3vh;
    row-gap: 2em;
    grid-template-areas:
        ". . title ."
        ". . contacts ."
        ". . main ."
        ". footer footer footer"
}
    .main-wrapper__title-wrapper {
        display: flex;
        grid-area: title;
        justify-content: center;
        align-items: center;
    }

    /* Safari and Chrome */
    /* body::-webkit-scrollbar {
        display: none;
    } */

/* DROPDOWN/POPOUT MENU CODE */
/*
.dropdown {
    position: relative;
    display: inline;
}

    .dropdown__nav-links {
        writing-mode: horizontal-tb;
        display: flex;
        position: absolute;
        background-color: #505050;
        padding: 0.5em;
        bottom: 0;
        left: -550px;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .dropdown:hover .dropdown__nav-links {
        bottom: 0;
        left: 30px;
    }

    .dropdown__nav-links > a{
        padding: 0 1em;
    } */

/* .nav-theme {
    font-family: "Staatliches", Verdana, Geneva, sans-serif;
    text-decoration: underline cyan;
    color: #fcfcfc;
    transition: font-size 0.5s ease;
}
.nav-theme:hover {
    color: #fcfcfc;
} */