body {
    font-family: 'Lora', serif;
}
h1, 
h2, 
h3, 
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
} 
h3 {
    font-size: 1.5rem;
}
h4{
    text-decoration: underline;
    font-size: 1.2rem;
}
h6 {
    text-decoration: underline #505050;
}
h6:before{
    /* text-decoration: underline ; */
    content: "~ "
}

.list-section {
    padding: 0rem 1rem;
    margin: 4rem 0;
    border-left: 3px solid #ffa719;
    border-left: 3px solid #ffe819;
}

.list-section__title {
    margin-bottom: 1rem;
}
.list-section__list {
    line-height: 2rem;
    list-style: none;
    padding: 0 1em;
    margin-bottom: 2rem;
    border-left: 3px solid #ffa719;
    border-left: 3px solid #ffe819;
}