* {
    /* border: solid 1px #ee3e64; */
    /* #44accf */
    /* #b7d84b */
    /* #ec008c hot pink*/
    /* #fc6767 Light orange */
    /* #12a7d light blue */
    /* #00e8b9 bright teal */
}

/* * * {
    background-color: #fcfcfc;
} */
html {
    margin: 0 0;
    padding: 0 0;
}

body {
    margin-top: 0 2em;
    padding: 0 1em 4em;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    font-weight: 350;
    color: #555;
    background-color: #fcfcfc;
}

h1,
h2,
h3,
strong {
  color: #333;
  color: #ee3e64
}

h2 {
    /* color: #00e8b9; */
    color: #ff7149;
}

div {
    margin: 0 0;
    padding: 0 0;
}

main {
    max-width: 50em;
    /* float: left; */
    margin: 2rem 1rem 5rem;
    /* border: solid 1px #ee3e64; */
    padding: 0rem 1rem;
}

main > h2 {
    margin: 0 0;
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Pacifico', Cursive;
    font-size: 60px;
    font-weight: 500;
}

main article {
    margin-top: 4.5rem;
}

button:focus {
    outline: 0;
}

span, button, i {
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
}

#primary-container {
    display: flex;
    flex-flow: row nowrap;
    
    /* border: solid 1px #b7d84b; */
 } 

 #content-box {
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;

}

#navbar {
    display: flex;
    flex-flow: column;
    min-width: 140px;
    max-width: 140px;
    height: 100%;
    float:left;
    /* border: solid 1px #44accf; */
    justify-content: flex-start;
    margin: 1rem 1rem;
    background-color: #fcfcfc;
    position: sticky;
    left: 0;
    top: 2em;
    
}

/* #navbar * {
    /*
    TODO: Find out if this can be optimized.
    This is sexy, but slow as hell.
    padding: 1vh 5px;
    margin: 1vh 0; */
    /* padding: 5px 0; */
/*
} 
*/

#nav-collapse-button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.5em;
    color: #ee3e64;
    display: none;
}

#navbar > div > h1 {
    text-align: right;
    font-weight: 600;
    
}

#navbar > div > ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    /* border: solid 1px #44accf; */
    text-align: right;
    font-weight: 350;
    margin: 0;
}

#navbar li {
    padding: 0.4rem;
}

#navbar a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #ec008c;
    /* border: solid 1px #44accf; */
}

#navbar h1 a {
    color: #ee3e64;
}

#navbar a:hover, #navbar a:active{
    /* color: #ee3e64 */
    color: #ff7149;
    text-decoration: underline;
}
#navbar h1 a:hover {
    color: #ff7149;
    text-decoration: none;
}

#title-box {
    margin: 0;
    justify-content: center;
}

#nav-links {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 650px) {
    body {
        margin-top: 150px;
    }
    
    main, #navbar {
        padding: 3rem auto;
    }

    main article > h3 {
        text-align: center;
    }

    #navbar h1 {
        margin-right: 0em;
    }
    #navbar i {
        margin: 0 1rem;
    }

    #nav-collapse-button {
        display: inline;
        border: 0;
        margin: 0;
        padding: 0;
    }

    #primary-container {
        flex-flow: column;
        /* justify-content: center; */
    }

    #navbar {
        height: auto;
        min-width: 100%;
        /* max-width: 100%; */
        position: fixed;
        top: 0;
        margin: 0;
        flex-flow: column;
        align-items: flex-end;
    }

    #navbar > div > ul {
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    #navbar li {
        margin: 0 1.4rem;
    }

    #title-box {
        align-items: center;
        justify-content: space-between;
    }

    #nav-links {
        display: none;
    }
}
/* 
@media only screen and (max-width: 450px){

    #navbar > div{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #navbar > div > ul {
        display: none;
        flex-flow: column;
        /* list-style-type: none; */
        /*border: solid 1px #44accf; 
        text-align: center;
        margin: 0; */
    /*}
    
} */

@media only screen and (min-width: 651px) {
    #nav-links {
        display: flex !important; 
    }
}