* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

body{
	line-height: 1.5;
}

.card{
	padding: 0;
}

.navbar {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

.nav-link {
	color: black;
	font-weight: 300;
}

.navbar-brand {
	color: black;
	font-weight: 400;
} 


#mainNavigation {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

#title {
	font-size: 90px;
	margin-bottom: 130px;
	margin-top: 105px;
	
	/* max-width: 280px;
	flex-grow: 1; */
	
	font-family: 'Pacifico', Cursive;
}

/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 20px;
  }
}
*/