* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

<<<<<<< HEAD:styles/style.css
body{
	line-height: 1.5;
=======
* {
	
	/*border: 1px solid red;*/

}

.test {
	/*border : 1px solid blue;*/
}

html, body {/*
	font-family: Arial, sans-serif;*/
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
	height: 100%;
}
#map-container {
	height: 520px; 
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
>>>>>>> 161c111adbb0fa7c5a6f9dd694776890c6265d28:css/style.css
}

/* .container {
	
}
.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid red;
} */

.card{
	padding: 0;
}

.navbar .navbar-toggle .icon-bar {
	background-color: black;
	border: 1px solid red;
}

.navbar {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

.nav-link {
	color: black;
	font-weight: 300;
}

.navbar-brand {
	color: black;
	font-weight: 400;
} 


#mainNavigation {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

#title {
	font-size: 90px;
	margin-bottom: 130px;
	margin-top: 40px;
	
	/* max-width: 280px;
	flex-grow: 1; */
	
	font-family: 'Pacifico', Cursive;
}

<<<<<<< HEAD:styles/style.css


=======
>>>>>>> 161c111adbb0fa7c5a6f9dd694776890c6265d28:css/style.css
/*
.my-blog {
	display: flex;
	flex-direction: column;
}


/*
html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 20px;
  }
}
*/