/* 
    color: #ee3e64;

    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 
    font-family: 'Staatliches', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Crimson Text', serif;

    font-family: 'Slabo 27px', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Yeseva One', cursive;
    font-family: 'Noto Serif JP', serif;
 */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #fcfcfc;
    /* letter-spacing: 2px; */
    /* display: flex; */

    font-family: 'Yeseva One', cursive;

    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Muli', sans-serif;
    
    font-family: 'Assistant', sans-serif;
    font-family: 'Noto Serif JP', cursive;
    font-family: 'Lora', serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

h1,
h2 {
    color: #ee3e64;
    color: #ffa719;
    color: black;
}
h1, 
h2, 
h3, 
h4 {
    font-family: 'Staatliches', cursive;
}
h3 {
    font-size: 1.3rem;

}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #ffa719;
}
a:hover{
    text-decoration: none;
    color: #44accf;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* DEFAULTS */

main{
    grid-area: main;
    margin: 3em 0;
}

article{
    margin-bottom: 5em;
}

p {
    margin-top: 1em;
}

.footer{
    grid-area: footer;
    height: 4em;
    text-align: center;
    
}
.footer--bg-dark {
    background-color: #262626;
}

.text--white {
    color: white;
}


.v-sidebar {
    /* border: 1px solid #b7d84b; */
    box-sizing: border-box;
    display: flex;
    position: fixed;
    min-height: 100vh;
    width: 35px;
    /* left: 0; */
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
    overflow: auto;
}
.v-sidebar--dark {
    background-color: #262626;
}

.v-sidebar__list {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 2em;
}

.v-sidebar__title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 2px; 
}
.v-sidebar__title--orange-cyan {
    text-decoration: underline cyan;
    border-left: 1px solid cyan;
    color: #ffa719;
}

.vertical-li{
    display: inline;
    margin: 0.5em 0;
    /* border: 2px solid cyan; */
}
.a--staatliches-font {
    font-family: 'Staatliches', cursive;
}

.a--orange-cyan {
    color: #ffa719;
    border-left: 1px solid cyan;
}

.dropdown {
    position: relative;
    display: inline;
}
  
.dropdown__nav-content {
    writing-mode: horizontal-tb;  
    display: none;
    position: absolute;
    background-color: #262626;
    padding: 0.5em;
    z-index: 1;
}

.dropdown:hover .dropdown__nav-content {
display: flex;
bottom: 0;
left: 100%;
background-color: #262626;
}

.dropdown__nav-content > a{
    padding: 0 1em;
}



.main-wrapper__title-wrapper {
    display: flex;
    grid-area: title;
    justify-content: center;
    align-items: center;
}

.title--size1 {
    font-size: calc(1em + 3vw);
}
.title--size2 {
    font-size: calc(2em + 3vw);
}
.title--size3 {
    font-size: calc(3em + 3vw);
}
.title--size4 {
    font-size: calc(4em + 3vw);
}
.title--size5 {
    font-size: calc(5em + 3vw);
}


.main-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 35px [left-gutter] 15% [content] auto [right-gutter] 15%;
    grid-template-rows: 30vh auto;
    grid-template-areas:
        ". . title ."
        ". . main ."
        ". footer footer footer"
}
.main-wrapper--rborder-orange {
    border-right: 3px solid #ffa719;
}

@media only screen and (max-width:767px){
    .main-wrapper{
        grid-template-columns: 35px [left-gutter] 10% [content] auto [right-gutter] 10%;
    }
}

@media only screen and (max-width:575px){
    .main-wrapper{
        grid-template-columns: 35px [left-gutter] 5% [content] auto [right-gutter] 5%;
    }
}