/* 
    color: #ee3e64;
    color: #fd5d93; salmon
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 
    font-family: 'Staatliches', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Yeseva One', cursive;
    font-family: 'Noto Serif JP', serif;
 */

 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:16px;
     vertical-align:baseline;
     background:transparent;
 }

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
 
body {
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #fcfcfc;

    font-family: 'Yeseva One', cursive;

    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Thasadith', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Muli', sans-serif;
    
    font-family: 'Assistant', sans-serif;
    font-family: 'Noto Serif JP', cursive;
    font-family: 'Lora', serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

h1,
h2 {
    color: #ee3e64;
    color: #ffa719;
    color: black;
}
h1, 
h2, 
h3, 
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
}
h3 {
    font-size: 1.3rem;

}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: inherit;
    text-decoration: none;
    color: #ffa719;
}
a:hover{
    text-decoration: underline cyan;
    color: #44accf;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* DEFAULTS */

main{
    grid-area: main;
    margin: 3em 0;
}

article{
    margin-bottom: 5em;
}

p {
    margin-top: 1em;
}

svg {
    width: 100%;
}
 
.footer{
    grid-area: footer;
    display: flex;
    height: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
    .footer__text {
        margin:0;
        padding:0;
        border:0;
        outline:0;
    }
    .footer--bg-dark {
        background-color: #262626;
    }
 
    .footer__text--white {
        color: white;
    }
 
 
.v-sidebar {
    /* border: 1px solid #b7d84b; */
    box-sizing: border-box;
    position: fixed;
    display: flex;
    min-height: 100vh;
    width: 35px;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
    overflow: visible;
}
    .v-sidebar--dark {
        background-color: #262626;
    }

    .v-sidebar__list {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-transform: uppercase;
        font-size: 1em;
        
    }

    .v-sidebar__title {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 2px; 
    }
 
.vertical-li{
    display: inline;
    margin: 0.5em 0;
}

.nav-theme {
    font-family: 'Staatliches', cursive;
    text-decoration: underline cyan;
    color: #ffa719;
}

.dropdown {
    position: relative;
    display: inline;
}

    .dropdown__nav-links {
        writing-mode: horizontal-tb;  
        display: none;
        position: absolute;
        background-color: #262626;
        padding: 0.5em;
        
    }
    
    .dropdown:hover .dropdown__nav-links {
        display: flex;
        bottom: 0;
        left: 150%;
        background-color: #262626;
    }      
    
    .dropdown__nav-links > a{
        padding: 0 1em;
    }

.title--size {
    font-size: calc(3em + 6vw);
}


.main-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 35px [left-gutter] 15% [content] auto [right-gutter] 15%;
    grid-template-rows: 30vh auto;
    grid-template-areas:
        ". . title ."
        ". . main ."
        ". footer footer footer"
}
    .main-wrapper__title-wrapper {
        display: flex;
        grid-area: title;
        justify-content: center;
        align-items: center;
    }
    .main-wrapper--rborder-orange {
        border-right: 3px solid #ffa719;
    }

.blog-post {

}
 
@media only screen and (max-width:767px){
    .main-wrapper{
        grid-template-columns: 35px [left-gutter] 10% [content] auto [right-gutter] 10%;
    }
}

@media only screen and (max-width:575px){
    .main-wrapper{
        grid-template-columns: 35px [left-gutter] auto [content] 80% [right-gutter] auto;
    }
}
@media only screen and (max-width:767px){

}