* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

body {
	margin: 0 auto;
	line-height: 1.5;
}

.card-body{
	padding: 10px 10px;
}

/* .container {
	max-width: 50em;
} */

.nav-link {
	color: black;
	font-weight: 300;
}

.navbar .navbar-toggle .icon-bar {
	background-color: black;
	border: 1px solid red;
}

.navbar {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

#mainNavigation {
	background-color: white;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}

.navbar-brand {
	color: black;
	font-weight: 400;
}

#title {
	font-size: 90px;
	margin-bottom: 80px;
	margin-top: 80px;
	
	/* max-width: 280px;
	flex-grow: 1; */
	
	font-family: 'Pacifico', Cursive;
}



/*
.my-blog {
	display: flex;
	flex-direction: column;
}


/*
html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 20px;
  }
}
*/